.crew-bg {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 135vh;
}

.crew-container {
    @include flex(inherit, center, column);
    padding: 1.5em;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;

    h3 {
        margin-top: 0.3em;
    }

    h4 {
        margin-top: 3em;
        opacity: 50%;
    }

    h5 {
        span {
            font-weight: bold;
            opacity: 50%;
            margin-right: 1em;
        }
    }

    p {
        margin-top: 1.5em;
        max-width: 500px;
    }

    nav {
        @include flex(center, center, row);
        margin-top: 2em;
        gap: 1em;
        a {
            margin: 0;
            display: block;
            width: 12px;
            height: 12px;
            background-color: #979797;
            border-radius: 50%;
            opacity: 27%;

            &:hover,
            &:focus {
                opacity: 60%;
            }
        }
    }
}

.crew-no-img {
    @include flex(center, center, column );
    width: 100%;
}

.crew-text {
    height: 319px;
}

.crew-img-wrapper {
    margin-top: 3em;
    padding: 1em;
    width: 100%;
    height: 50%;
    max-height: 500px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
        mask-image: linear-gradient(to bottom, #000000 77%, transparent 100%);
    }
}
