.technology-bg {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.technology-container {
    @include flex(space-between, center, column);
    text-align: center;
    height: 100%;
    
    h5 {
        margin-bottom: 5em;
        span {
            font-weight: bold;
            opacity: 25%;
        }
    }

    img {
        width: 100%;
        height: 258px;
        object-fit: cover;
    }

    nav {
        @include flex(center, center, row);
        gap: 1em;
        margin-top: 2em;
        a {
            @include flex(center, center, row);
            margin: 0;
            color: $white;
            width: 40px;
            height: 40px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 50%;
        }
    }
}

.technology-img-text {
    align-self: flex-end;
    padding-bottom: 1em;
}

.technology-text {
    padding: 1.5em;
    text-align: center;
    h4 {
        margin-top: 0.5em;
        opacity: 50%;
    }

    h3 {
        margin: 0.7em 0;
    }

    p {
        margin: auto;
    }

}