@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #0B0D17;
}

body {
  color: #D0D6F9;
}

a {
  text-decoration: none;
  margin: 1em;
}

.home-bg {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
}
.home-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 1.25rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin: 5em 0;
  width: 144px;
  height: 144px;
  color: #0B0D17;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.home-container a:hover, .home-container a:focus {
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
}

.home-text {
  text-align: center;
}
.home-text h1 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin: 0.3em 0;
}
.home-text h5 {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.home-text p {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  line-height: 180%;
  color: #D0D6F9;
}

.destinations-bg {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  width: 100%;
  text-align: center;
}
.destination-container .destination-title-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.destination-container img {
  width: 150px;
  height: 150px;
  margin: 3em 0;
}
.destination-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}
.destination-container nav a {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D0D6F9;
  padding-bottom: 1em;
  border-bottom: 2px solid transparent;
  text-indent: -2px;
  direction: rtl;
}
.destination-container h2 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 3.11rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin: 0.3em 0;
}
.destination-container h5 {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.destination-container h5 span {
  font-weight: bold;
  opacity: 25%;
}
.destination-container p {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  line-height: 180%;
  color: #D0D6F9;
  max-width: 500px;
}
.destination-container hr {
  margin: 1em 0;
  border: 0.5px solid #979797;
  opacity: 25%;
}

.distance-travel {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: column;
  gap: 1em;
}
.distance-travel p {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.distance-travel h6 {
  margin: 0;
  font-family: "Bellefair", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-top: 0.4em;
}

.crew-bg {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 135vh;
}

.crew-container {
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
.crew-container h3 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-top: 0.3em;
}
.crew-container h4 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-top: 3em;
  opacity: 50%;
}
.crew-container h5 {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #D0D6F9;
}
.crew-container h5 span {
  font-weight: bold;
  opacity: 50%;
  margin-right: 1em;
}
.crew-container p {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 180%;
  color: #D0D6F9;
  margin-top: 1.5em;
  max-width: 500px;
}
.crew-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
  gap: 1em;
}
.crew-container nav a {
  margin: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #979797;
  border-radius: 50%;
  opacity: 27%;
}
.crew-container nav a:hover, .crew-container nav a:focus {
  opacity: 60%;
}

.crew-no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.crew-text {
  height: 319px;
}

.crew-img-wrapper {
  margin-top: 3em;
  padding: 1em;
  width: 100%;
  height: 50%;
  max-height: 500px;
}
.crew-img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-mask-image: linear-gradient(to bottom, #000000 77%, transparent 100%);
          mask-image: linear-gradient(to bottom, #000000 77%, transparent 100%);
}

.technology-bg {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.technology-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.technology-container h5 {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-bottom: 5em;
}
.technology-container h5 span {
  font-weight: bold;
  opacity: 25%;
}
.technology-container img {
  width: 100%;
  height: 258px;
  -o-object-fit: cover;
     object-fit: cover;
}
.technology-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
  margin-top: 2em;
}
.technology-container nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.technology-img-text {
  align-self: flex-end;
  padding-bottom: 1em;
}

.technology-text {
  padding: 1.5em;
  text-align: center;
}
.technology-text h4 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin-top: 0.5em;
  opacity: 50%;
}
.technology-text h3 {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #D0D6F9;
  margin: 0.7em 0;
}
.technology-text p {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 180%;
  color: #D0D6F9;
  margin: auto;
}

.site-wrapper {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

main {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-header {
  position: relative;
  width: 100%;
  z-index: 1;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5em;
}

.main-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 66%;
  max-width: 350px;
  height: 100%;
  left: 100%;
  background-color: hsla(230, 35%, 7%, 0.15);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  transition: transform 0.5s ease;
}
.main-nav-links a {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D0D6F9;
  width: calc(100% - 2em);
  margin: 1em 0;
  margin-left: 2em;
  border-color: #D0D6F9;
}
.main-nav-links a span {
  font-weight: bold;
}
.main-nav-links a:first-child {
  margin-top: 8em;
}
.main-nav-links a:hover, .main-nav-links a:focus {
  border-right: 2px solid;
  border-color: hsla(231, 77%, 90%, 0.5);
}

.nav-open {
  transform: translateX(-100%);
}

.logo-icon {
  text-decoration: none;
}
.logo-icon img {
  width: 40px;
  height: 40px;
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 1em;
}
.burger .line-1,
.burger .line-2,
.burger .line-3 {
  display: block;
  padding: 0.1rem 0.8rem;
  margin: 0.4rem 0;
  background-color: #D0D6F9;
  transition: all 0.5s ease;
}

.toggle .line-1 {
  transform: rotateZ(45deg) translate(25%, 225%);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotateZ(-45deg) translate(25%, -225%);
}

@media screen and (min-width: 768px) {
  .home-bg {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  .destinations-bg {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  .crew-bg {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
  .technology-bg {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
  main {
    overflow: hidden;
  }
  .main-navbar {
    padding: 0;
  }
  .logo-icon {
    padding: 0 44px;
  }
  .main-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    gap: 3em;
    height: 96px;
    max-width: 100%;
    position: initial;
    background-color: rgba(255, 255, 255, 0.05);
  }
  .main-nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    color: #FFFFFF;
  }
  .main-nav-links a:first-child {
    margin: 0;
  }
  .main-nav-links a:hover, .main-nav-links a:focus {
    border-right: none;
    border-bottom: 2px solid;
    border-color: hsla(231, 77%, 90%, 0.5);
  }
  .burger {
    display: none;
  }
  .home-container {
    margin: auto;
    width: 70%;
  }
  .home-container a {
    margin-top: 2em;
    margin-bottom: 3.5em;
    font-size: 2rem;
    width: 272px;
    height: 272px;
  }
  .home-text {
    margin-top: 5em;
  }
  .home-text h1 {
    margin: 0.2em 0;
    font-size: 9rem;
  }
  .home-text h5 {
    font-size: 1.75rem;
  }
  .home-text p {
    font-size: 1rem;
  }
  .destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
  }
  .destination-container img {
    width: 300px;
    height: 300px;
    margin: 5em 0;
  }
  .destination-container nav a {
    font-size: 1rem;
  }
  .destination-container h2 {
    font-size: 5rem;
  }
  .destination-container h5 {
    text-align: start;
    align-self: flex-start;
    font-size: 1.25rem;
  }
  .destination-container p {
    font-size: 1rem;
  }
  .distance-travel {
    justify-content: center;
    flex-direction: row;
    gap: 8em;
  }
  .crew-container {
    padding: 2.5em;
    padding-bottom: 0;
  }
  .crew-container h3 {
    font-size: 2.5rem;
  }
  .crew-container h4 {
    font-size: 1.5rem;
  }
  .crew-container h5 {
    align-self: flex-start;
    font-size: 1.25rem;
  }
  .crew-container p {
    font-size: 1rem;
  }
  .crew-text {
    height: 300px;
  }
  .crew-img-wrapper {
    position: fixed;
    bottom: -4%;
    padding: 0;
  }
  .technology-container h5 {
    align-self: flex-start;
    margin-left: 2em;
    margin-top: 2em;
    font-size: 1.25rem;
  }
  .technology-container img {
    height: 356px;
  }
  .technology-container nav a {
    width: 56px;
    height: 56px;
    font-size: 1.5rem;
  }
  .technology-text h3 {
    font-size: 2.5rem;
    margin: 0.5em 0;
  }
  .technology-text h4 {
    font-size: 1.5rem;
  }
  .technology-text p {
    font-size: 1rem;
    max-width: 520px;
  }
}
@media screen and (min-width: 1440px) {
  .home-bg {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  .destinations-bg {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
  .crew-bg {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
  .technology-bg {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
  .main-navbar {
    padding-top: 2.5em;
  }
  .navbar-breakline-wrapper {
    position: relative;
    height: 4px;
    width: 50%;
  }
  .navbar-breakline-wrapper hr {
    margin: 0;
    position: absolute;
    border: 0.5px solid #979797;
    opacity: 25%;
    width: 105%;
    top: 50%;
    right: -5%;
    z-index: 1;
  }
  .main-nav-links {
    min-width: 736px;
  }
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 8em;
    width: 100%;
    height: 100%;
  }
  .home-container a {
    margin: 0;
  }
  .home-text {
    margin: 0;
    text-align: left;
    width: 500px;
  }
  .destination-container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100%;
  }
  .destination-container .destination-title-img {
    justify-content: center;
  }
  .destination-container h2 {
    font-size: 6rem;
  }
  .destination-container h5 {
    font-size: 1.75rem;
    margin-left: 4em;
  }
  .destination-container img {
    width: 480px;
    height: 480px;
    margin: auto;
  }
  .destination-container nav {
    justify-content: start;
  }
  .destination-container p,
  .destination-container hr {
    max-width: 400px;
  }
  .destination-container hr {
    margin: 2em 0;
  }
  .destination-links-text {
    margin: auto;
    text-align: left;
    width: 100%;
  }
  .distance-travel {
    justify-content: flex-start;
  }
  .crew-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em 10.5em 5em;
    height: 100%;
    width: 100%;
  }
  .crew-container h3 {
    font-size: 3.5rem;
  }
  .crew-container h4 {
    margin: 0;
    font-size: 2rem;
  }
  .crew-container h5 {
    padding-top: 2em;
    font-size: 1.75rem;
  }
  .crew-container p {
    max-width: 550px;
    font-size: 1.125rem;
  }
  .crew-container nav {
    gap: 3em;
  }
  .crew-container nav a {
    width: 15px;
    height: 15px;
  }
  .crew-no-img {
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    width: 100%;
  }
  .crew-img-wrapper {
    position: static;
    margin: 0;
    margin-top: auto;
    width: 90%;
    height: 85%;
    max-height: 750px;
  }
  .technology-container {
    overflow: scroll;
    justify-content: center;
    align-items: center;
  }
  .technology-container h3 {
    margin: 0.3em 0;
    font-size: 3.5rem;
  }
  .technology-container h4 {
    margin: 0;
    font-size: 2rem;
  }
  .technology-container h5 {
    margin-left: 5.6em;
    margin-bottom: auto;
    font-size: 1.75rem;
  }
  .technology-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    align-self: center;
    margin: auto;
    width: 100%;
  }
  .technology-img-text img {
    height: 50vh;
    width: 50%;
  }
  .technology-links-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    width: 100%;
  }
  .technology-links-text nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    margin: 0;
  }
  .technology-links-text nav a {
    font-size: 2rem;
    width: 80px;
    height: 80px;
  }
  .technology-text {
    text-align: left;
  }
  .technology-text p {
    font-size: 1.125rem;
    max-width: 490px;
  }
}/*# sourceMappingURL=index.css.map */